@charset "UTF-8";
/* MV */
.blur-start,
.blur-scholl {
  opacity: 0;
  transition: transform 0.5s linear;
  animation-duration: 1s;
  animation-fill-mode: both;
}
.blur,
.blur-scholl.done {
  animation-name: imageBlur;
  opacity: 1;
  transition: .5s;
}
@-webkit-keyframes imageBlur {
  from {
    opacity: 0;
    filter: blur(15px);
  }

  to {
    opacity: 1;
    filter: blur(0px);
  }
}
@keyframes imageBlur {
  from {
    opacity: 0;
    filter: blur(15px);
  }

  to {
    opacity: 1;
    filter: blur(0px);
  }
}
.scroll-illust-1,
.scroll-illust-2,
.scroll-illust-3,
.scroll-illust-4 {
    opacity: 0;
    transition: transform .8s linear;
    animation-fill-mode: both;
}
.scroll-1{
    animation-name: scrollIllust;
    animation-duration: 1.4s;
    opacity: 1;
    transition: 2s;
  }
.scroll-2{
    animation-name: scrollIllust;
    animation-duration: 2.2s;
    opacity: 1;
    transition: 2s;
}
.scroll-3{
    animation-name: scrollIllust;
    animation-duration: 3s;
    opacity: 1;
    transition: 2s;
}
.scroll-illust-4.done {
    animation-name: scrollIllust;
    animation-duration: 3s;
    opacity: 1;
    transition: 3s;
}
@-webkit-keyframes scrollIllust {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes scrollIllust {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.scroll-fade,
.scroll-up,
.scroll-down,
.scroll-left,
.scroll-right{
  opacity: 0;
  transition: all .8s;
}
.scroll-up {
  transform: translateY(20px);
}
.scroll-down {
  transform: translateY(-20px);
}
.scroll-left {
  transform: translateX(20px);
}
.scroll-right {
  transform: translateX(-20px);
}
.scroll-fade.done {
  opacity: 1;
}

/* 連続的なスクロールアップ */
.scroll-up-serial > li{
  opacity: 0;
  transition-duration: .6s;
}
.scroll-up-serial > li {
  transform: translateY(20px);
}
.scroll-up-serial > li {
  &:first-child {
    transition-delay: .3s;
  }
  &:nth-child(2) {
    transition-delay: .5s;
  }
  &:nth-child(3) {
    transition-delay: .7s;
  }
  &:nth-child(4) {
    transition-delay: .9s;
  }
  &:nth-child(5) {
    transition-delay: 1.1s;
  }
}

/* ベーシックアニメーション発火 */
.scroll-up.done,
.scroll-down.done,
.scroll-left.done,
.scroll-right.done,
.scroll-up-serial.done > li {
  opacity: 1;
  transform: translate(0, 0);
}
