@charset "UTF-8";
:root {
    --main-color: #20259D;
    --accent-color: #9d2020;
    --light-blue: #E3EFFA;
    --gray-type1: #BFBFBF;
    --gray-type2: #d5d5d5;
    --text: #333;
  }

html {
    scroll-behavior: smooth;
}
.accessibility-lp p {
    font-size: 1rem;
    line-height: 1.8;
}
.accessibility-lp .article-inner {
    margin-top: 0;
}
/* margin */
.mt-0 {margin-top: 0!important;}
.mt-4 {margin-top: 4px!important;}
.mt-8 {margin-top: 8px!important;}
.mt-16 {margin-top: 16px!important;}
.mt-24 {margin-top: 24px!important;}
.mt-32 {margin-top: 32px!important;}
.mt-40 {margin-top: 40px!important;}
.mt-48 {margin-top: 48px!important;}
.mt-56 {margin-top: 56px!important;}
.mt-64 {margin-top: 64px!important;}
.mt-80 {margin-top: 80px!important;}

/* br */
.br-tb {display: none;}
.tb-only {display: none;}
.sp-only {display: none;}

/* align */
.align-c {text-align: center;}
.align-l {text-align: left;}
.align-r {text-align: right;}

/* font */
.caption {
    font-size: .75rem!important;
    line-height: 1.4!important;
    text-indent: -1em;
    padding-left: 1em;
    color: var(--text);
    display: block;
}
.min  {
    font-size: .85rem!important;
}
.strong {
    font-weight: bold;
}
.basic-title {
    color: var(--main-color);
    font-weight: bold;
    font-size: 2rem; 
}
.line-title {
    color: var(--text);
    font-size: 1.75rem;
    padding-bottom: 2px;
    border-bottom: 1px solid  var(--text);
}
.large-title {
    color: var(--main-color);
    font-weight: bold;
    font-size: 4rem; 
    line-height: 1.5;
}
.strengths-card-title {
    display: flex;
    align-items: center;
    font-size: 1rem;
    gap: 6px;
}
.strengths-card-title > span {
    width: 26px;
}
.accessibility-title {
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--text);
    font-size: 1.5rem;
}
.accessibility-title > .icon {
    width: 22px;
    padding-top: 4px;
}
.wark-flow-title {
    color: #fff;
    font-size: 1.75rem;
    line-height: 1;
    font-weight: bold;
    text-align: center;
    width: 100%;
    background: linear-gradient(to right, #6115FF, #6AD7FF);
    padding: 16px;
    border-radius: 30px;
}
.wark-flow-lead {
    color: var(--main-color);
    font-size: 1.75rem!important;
    font-weight: bold;
    text-align: center;
}
/* List */
.dot-list > li {
    font-weight: bold;
    line-height: 1.6;
    text-indent: -1em;
    padding-left: 1em;
}
.dot-list > li > p {
    font-size: .85rem;
    font-weight: normal;
    text-indent: 0;
}
.dot-list > li + li {
    padding-top: 4px;
}

/* border */
.border-top {
    border-top: solid 1px var(--text);
    padding-top: 24px;
}
.border-radius-8 {
    border-radius: 8px;
}
.border-radius-16 {
    border-radius: 16px;
}
/* shadow */
.shadow-level-1 {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
}
/* grid */
.grid {
  width: 100%;
  display: grid;
  height: auto;
}
.col-1 {
    grid-template-columns: repeat(1, 1fr);
}
.col-2 {
    grid-template-columns: repeat(2, 1fr);
}
.col-3 {
    grid-template-columns: repeat(3, 1fr);
}

/* gap */
.gap-0 {gap: 0;}
.gap-8 {gap: 8px;}
.gap-16 {gap: 16px;}
.gap-24 {gap: 24px;}
.gap-32 {gap: 32px;}
.gap-40 {gap: 40px;}
.gap-48 {gap: 48px;}

/* .flex-oder */
.oder-1-2 {order: 1;}
.oder-2-1 {order: 2;}
.oder-3-4 {order: 3;}
.oder-4-3 {order: 4;}
.oder-5 {order: 5;}

/* background */
.bg-light-wrap {
    position: relative;
    z-index: -2;
}
.bg-light-wrap::before {
    content: "";
    position: absolute;
    background: url(/accessibility/img/bg_01.png) no-repeat 50% / contain;
    top: -110px;
    right: 0;
    width: 450px;
    height: 560px;
    z-index: -1;
}
.bg-light-wrap::after {
    content: "";
    position: absolute;
    background: url(/accessibility/img/bg_02.png) no-repeat 50% / contain;
    top: auto;
    bottom: 0;
    left: 0;
    width: 390px;
    height: 560px;
    z-index: -1;
}

.bg-gradation,
.bg-merit,
.bg-accessibility,
.bg-wark-flow {
    position: relative;
    padding: 80px 0;
}
.bg-gradation::before {
    content: "";
    position: absolute;
    margin: 0 calc(50% - 50vw);
    background: linear-gradient(rgb(255, 255, 255), rgb(222, 233, 238));
    width: 100vw;
    height: 100%;
    top: 0;
    z-index: -1;
}
.bg-gradation-type2 {
    position: relative;
    padding: 80px 0 160px;
    overflow: hidden;
}
.bg-gradation-type2::before {
    content: "";
    position: absolute;
    margin: 0 calc(50% - 50vw);
    background: url(/accessibility/img/bg_05_lg.png) no-repeat 50% 100% / cover;
    width: 100vw;
    height: 100%;
    top: 0px;
}
@media (min-width: 1620px) {
    .bg-gradation-type2::before {
        background: url(/accessibility/img/bg_05_lg.png) no-repeat 50% 100% / cover;
        height: calc(100% + 3vw);
    }
}
.bg-merit::before {
    content: "";
    position: absolute;
    margin: 0 calc(50% - 50vw);
    background: linear-gradient(45deg,rgb(91, 21, 255), rgb(106, 215, 255));
    width: 100vw;
    height: 100%;
    top: 0;
    z-index: -1;
}
.bg-merit::after {
    content: "";
    position: absolute;
    background: url(/accessibility/img/bg_03.png) no-repeat 50% / cover;
    opacity: 0.4;
    width: 80vw;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}
.bg-accessibility::before {
    content: "";
    position: absolute;
    margin: 0 calc(50% - 50vw);
    background: url(/accessibility/img/bg_04.jpg) no-repeat 50% / cover;
    width: 100vw;
    height: 100%;
    top: 0px;
    z-index: -1;
}
.bg-white {
    background-color: #fff;
    padding: 20px;
}
.bg-vowz-mark {
    position: relative;
}
.bg-vowz-mark::before {
    content: "";
    position: absolute;
    background: url(/accessibility/img/icon_03.png) no-repeat 50% / auto;
    background-size: 340px;
    width: 340px;
    height: 100%;
    bottom: -310px;
    right: -330px;
    opacity: .4;
}
.bg-footer {
    padding: 24px 16px;
    background: linear-gradient(45deg,rgb(91, 21, 255), rgb(106, 215, 255));
}

/* illust */
.scroll-illust-1,
.scroll-illust-2,
.scroll-illust-3,
.scroll-illust-4 {
    position: relative;
    overflow: visible;
}
.scroll-illust-1::before,
.scroll-illust-2::before,
.scroll-illust-3::before,
.scroll-illust-4::before {
    content: "";
    position: absolute;
    height: 100%;
}
.scroll-illust-1::before {
    background: url(/accessibility/img/illust_02.svg) no-repeat 50% / contain;
    top: -300px;
    left: -140px;
    width: 110px;
}
.scroll-illust-2::before {
    background: url(/accessibility/img/illust_03.svg) no-repeat 50% / contain;
    top: -540px;
    left: -120px;
    width: 130px;
}
.scroll-illust-2::after {
    content: "";
    position: absolute;
    height: 100%;
    background: url(/accessibility/img/icon_03.png) no-repeat 50% / contain;
    top: -470px;
    left: -130px;
    width: 240px;
    opacity: .7;
    z-index: -1;
}
.scroll-illust-3::before {
    background: url(/accessibility/img/illust_04.svg) no-repeat 50% / auto;
    background-size: 160px;
    bottom: -110px;
    right: -84px;
    width: 160px;
    height: 410px;
}
.scroll-illust-4::before {
    background: url(/accessibility/img/illust_05.svg) no-repeat 50% / auto;
    background-size: 140px;
    bottom: -110px;
    left: -200px;
    width: 230px;
    height: 320px;
}
/* MV */
.mv-wrap {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 40px;
}
.mv-top {
    position: relative;
    height: 720px;
    display: grid;
    grid-template-columns: minmax(540px, 1fr) minmax(100px, 190px) ;
    gap: 20px;
    margin-top: 40px;
}
.mv-bottom {
    position: relative;
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
}
.mv-copy {
    width: 100%;
    max-width: 640px;
}
.mv-copy > hgroup > p span {
    font-size: 1.5625rem;
    font-weight: bold;
    color: var(--main-color);
    padding: 10px 30px;
    display: inline-block;
    position: relative;
    background-color: white;
    border-radius: 30px;
}
.mv-copy > hgroup > p span::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 32px;
    background: linear-gradient(to right, #6115FF, #6AD7FF);
    z-index: -1;
}
.sub-copy {
    width: 350px;
    margin-top: 56px;
}
.mv-illust {
    position: absolute;
    top: auto;
    bottom: -30px;
    right: -10px;
    max-width: 540px;
    width: 100%;
    z-index: -1;
}
.mv-tag > ul {
    margin-top: 8px;
}
.brackets {
    position: relative;
    text-align: center;
    padding: 16px;
}
.brackets::before,
.brackets::after {
	content: '';
	width: 25px;
	height: 25px;
	position: absolute;
}
.brackets::before {
	border-left: solid 1px var(--main-color);
	border-top: solid 1px var(--main-color);
	top: 0;
	left: 0;
}
.brackets::after {
	border-right: solid 1px var(--main-color);
	border-bottom: solid 1px var(--main-color);
	bottom: 0;
	right: 0;
}
.brackets > h2 {
    font-size: 1.75rem;
    font-weight: 200;
    color: var(--main-color);
}
.brackets > h2 > span {
    padding-left: 20px;
    font-weight: bold;
}
.top-illust {
    position: relative;
}
.top-illust > li {
    position: relative;
}
.top-illust > li > figure {
    position: relative;
    display: grid;
    grid-row: span 2; 
    align-items: center;
    justify-content: center;
    grid-template-rows: subgrid;
    gap: 16px;
}
.top-illust > li::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    right: -12px;
    background: url(/accessibility/img/icon_01.svg) no-repeat 50% / contain;
}
.top-illust > li {
    display: grid;
}
.top-illust > li > figure > figcaption{
    text-align: center;
}
.top-illust-01 > img {
    width: 200px;
}
.top-illust-02 > img {
    width: 220px;
}
.top-illust-03 > img {
    width: 150px;
}
.explanation-box {
    position: relative;
    margin-top: 76px;
    padding: 24px 28px 20px;
    border: solid 1px var(--main-color);
    border-radius: 24px;
    background: #fff;
}
.explanation-box > h3 {
    position: absolute;
    top: -24px;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--main-color);
    background: #fff;
}
.bg-wabe-line {
    margin-top: -40px;
}

.article-inner > div > section {
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 40px;
}

/* 主な4例 */
.example-list-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px;
}
.example-list-item + .example-list-item {
    margin-top: 40px;
}
.example-list-item > figure {
    position: relative;
    display: flex;
    padding: 40px 30px;
    justify-content: center;
    background: #fff;
    border: 1px solid #20259D;
}
.example-list-item > figure > img {
    width: 100%;
    object-fit: contain;
}
.example-list-item > div > h3 {
    font-size: 1.1rem;
    font-weight: bold;
}
.example-list-item > div > p {
    margin-top: 16px;
}
.example-list-item > div > div {
    background: var(--light-blue);
    margin-top: 16px;
    padding: 16px;
}

/* アコーディオン */
.accordion {
margin: 60px 0 0;
padding: 0;
border: 2px solid var(--border);
border-radius: 7px;
width: 100%;
}
.accordion > * + * {
border-top: 1px solid var(--border);
}
.accordion-trigger {
background: none;
color: var(--text);
display: block;
font-size: 1.25rem;
font-weight: normal;
margin: 0;
padding: 1em 1em 1em 0;
position: relative;
text-align: left;
width: 100%;
outline: none;
cursor: pointer;
}
.accordion-trigger:focus {
    outline: 4px solid transparent;
}
.accordion > *:first-child .accordion-trigger,
.accordion > *:first-child {
border-radius: 5px 5px 0 0;
}
.accordion > *:last-child .accordion-trigger,
.accordion > *:last-child {
border-radius: 0 0 5px 5px;
}
.accordion-title {
display: block;
font-size: 1.52rem;
font-weight: bold;
color: var(--main-color);
pointer-events: none;
border: transparent 2px solid;
border-radius: 5px;
padding: 0.25em 0 0;
outline: none;
}
.accordion-trigger:focus-visible .accordion-title {
    border-color: var(--main-color);
}

.accordion-icon {
border: solid currentcolor;
border-width: 0 2px 2px 0;
height: 18px;
pointer-events: none;
position: absolute;
right: 0;
top: 52%;
transform: translateY(-60%) rotate(45deg);
width: 18px;
transition: .3s;
}
.accordion-trigger:focus .accordion-icon,
.accordion-trigger:hover .accordion-icon {
border-color: var(--border-focus);
}
.accordion-trigger[aria-expanded="true"] .accordion-icon {
transform: translateY(-30%) rotate(-135deg);
}

.accordion-panel,
.accordion-panel[hidden] {
overflow: hidden;
transition: .3s;
height: 0;
opacity: 0;
padding: 0;
}

.accordion-panel.is-active {
opacity: 1;
}

.accordion-panel > * {
padding: 20px;
}
/* アクセシビリティ項目 */
.accessibility-list {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    width: 100%; 
    color: var(--text);
}
.accessibility-list > dt {
    width: 36%;
    font-size: 1rem;
    font-weight: bold;
    padding-left: 3em;
    text-indent: -3em;
    box-sizing: border-box;
}
.accessibility-list > dd {
    width: 64%;
    font-size: 1rem;
    padding-left: 32px;
    box-sizing: border-box;
}
.accessibility-list > dt:not(:first-of-type),
.accessibility-list > dd:not(:first-of-type) {
    margin-top: 32px;
}

/* アクセシビリティ対応のメリット */
.merit-area {
    position: relative;
    background: rgb(255, 255, 255 ,0.6);
    border-radius: 30px;
    padding: 40px 60px;
}
.merit-area::before {
    content: "";
    position: absolute;
    background: rgb(255, 255, 255 ,0.4);
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    z-index: -1;
}
.img-merit-wrap {
    display: block;
    position: relative;
    width: 100%;
    height: 580px;
}
.img-merit-wrap::before {
    position: absolute;
    content: "";
    display: block;
    width: 330px;
    height: 330px;
    border-radius: 50%;
    border: solid 6px #fff;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}
.img-merit-wrap > figure {
    position: absolute;
}
.merit-illust-01 {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.merit-illust-02 {
    top: 280px;
    left: 210px;
    transform: translateX(-50%);
}
.merit-illust-03 {
    top: 280px;
    left: 500px;
    transform: translateX(-50%);
}
.img-merit-wrap > figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-merit-wrap > figure > img {
    width: 220px;
}
.img-merit-wrap > figure > figcaption {
    padding-top: 8px;
    font-weight: bold;
}

.strengths-area {
    position: relative;
    background: #fff;
    padding: 48px;
    border-radius: 30px;
    border-image: linear-gradient(to right, #6115FF, #6AD7FF) 1;
}
.strengths-area::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 32px;
    background: linear-gradient(to right, #6115FF, #6AD7FF);
    z-index: -1;
}
.strengths-area > .basic-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    position: relative;
}
.strengths-area > .basic-title > img {
    display: block;
    width: 90px;
    height: 100%;
}
.strengths-card-wrap {
    padding-top: 40px;
}
.strengths-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.strengths-card > figure {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    padding: 24px;
    border: 1px solid var(--gray-type1);
    border-radius: 16px;
}
.strengths-card > figure > img,
.case-cade > figure > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* UI/アクセシビリティ改善の事例 */
.container-5 > h2.large-title {
    margin-top: 64px;
}
.case-cade-wrap {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-top: 80px;
}
.case-cade {
    width: 100%;
    display: grid;
    height: auto; 
    gap: 40px;
    grid-template-columns: 550px 1fr;
}
.case-cade > figure {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 340px;
    padding: 24px;
    border: 1px solid var(--gray-type1);
    border-radius: 16px;
}
.case-cade > figure:has(.img-cover) {
    padding: 0;
    border: none;
}
.case-cade > figure:has(.img-cover) > img {
    object-fit: cover;
}
.case-cade-title {
    font-size: 1.25rem;
    line-height: 1.4;
    font-weight: bold;
    color: var(--main-color);
}
.case-cade > div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.case-cade .ctegory-wrap {
    display: flex;
    gap: 8px;
}
.case-cade .ctegory > span {
    font-size: .875rem; 
    line-height: 1;
    padding: 4px 16px;
    color: #fff;
    background: var(--main-color);
    border-radius: 30px;
}
.case-cade-wrap-bottom {
    padding-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
.case-cade-wrap-bottom > .case-cade {
    display: flex;
    flex-direction: column;
}
.case-cade-wrap-bottom > .case-cade > figure {
    padding: 0;
    border: none;
    height: 280px;
}
.bottom-illust-area {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 480px 1fr;
    gap: 60px;
    margin-top: 120px;
}
/* プロジェクトの進行の流れ */
.wark-flow-wrap {
    margin-top: 80px;
}
.wark-flow {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: flex-start;
    gap: 30%;
}
.wark-flow > Li {
    position: relative;
    width: 35%;
}
.wark-flow > Li:nth-child(even) {
    margin-top: 280px;
}
.wark-flow::before {
    content: "";
    position: absolute;
    width: 1px;
    top: 120px;
    height: calc(100% - 160px);
    border-left: 1px dashed var(--gray-type1);
    left: 50%;
    transform: translateX(-50%);
}
.wark-flow-card {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.wark-flow-card > .wark-flow-img {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 220px;
    padding: 24px 50px;
    border: 1px solid var(--gray-type1);
    border-radius: 16px;
}
.wark-flow-card > .wark-flow-img > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.wark-flow-card > .wark-flow-img > span {
    position: absolute;
    width: 86px;
    top: -24px;
    right: -36px;
}

.flow-category {
    position: absolute;
    font-size: .875rem;
    text-align: center;
    font-weight: bold;
    padding: 4px 8px;
    width: 60%;
    color: var(--main-color);
    background: var(--light-blue);
    border-radius: 30px;
    left: -73%;
    top: 30%;
}
.wark-flow > Li:nth-child(even) > .flow-category {
    left: auto;
    right: -73%;
}
.flow-category-last {
    position: absolute;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 16px;
    background: linear-gradient(to right, #6115FF, #6AD7FF);
    padding: 8px 16px;
    bottom: -40px;
    left: -60%;
}

/* Contact-link
-------------------------------------------------- */
.contact-link-wrap {
    position: fixed;
    right: 5%;
    bottom: 3%;
    z-index: 10;
    transition: opacity 0.5s ease; 
}
.contact-link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color)!important;
    background: #fff;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    font-size: 1.2rem;
    line-height: 1.6;
    font-weight: bold;
    text-align: center;
    transition: all 2s;
}
.contact-link::before {
    content: "";
    position: absolute;
    background: linear-gradient(to right, #6115FF, #6AD7FF);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;
    transition: all 1s;
}
.contact-link::after {
    content: "";
    position: absolute;
    background: var(--main-color);
    height: calc(tan(60deg) * 10px / 2);
    width: 14px;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    transition: all .3s;
}
.contact-link:hover::before {
    transform: translate(-50%, -50%) rotate(360deg);
    width: calc(100% + 8px);
    height: calc(100% + 8px);
}
.contact-link:hover::after {
    height: calc(tan(60deg) * 13px / 2);
    width: 18px;
    bottom: 16px;
}
.contact-link-wrap.hidden {
    opacity: 0;
}
.contact-link-wrap > a:focus {
    outline: #005fcc auto 2px;
}

/* Footer
-------------------------------------------------- */
.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    margin: 0 auto;
    max-width: 1240px;
    width: 100%;
}
.footer-content > ul {
    display: flex;
    align-items: center;
    gap: 24px;
}
.footer-content > ul > li > a {
    color: #fff;
    font-size: .875rem;
    font-weight: bold;
}
.footer-content > ul > li > a:hover {
    text-decoration: underline;
}
.footer-content > ul > li > a:focus {
    text-decoration: underline;
}

/* TB
-------------------------------------------------- */
@media (max-width: 1024px) {
    .br-tb {
        display: block;
    }
    .tb-only {
        display: block;
    }
    .tb-col-1 {
        grid-template-columns: repeat(1, 1fr);
    }
    .large-title {
        font-size: 3.5rem;
    }
    .line-title {
        font-size: 1.5rem;
    }
    .scroll-illust-4::before {
        display: none;
    }
    .top-illust > li::before {
        width: 24px;
        height: 24px;
        top: -8px;
        left: -8px;
        right: auto;
        z-index: 1;
    }
    .explanation-box > h3 {
        font-size: 1.25rem;
        padding: 0 6px;
    }
    .strengths-area {
        padding: 40px 32px;
    }
    .bg-vowz-mark::before {
        background-size: 280px;
        width: 280px;
        bottom: -300px;
        right: -230px;
    }
    .bg-light-wrap > .container-5 {
        margin-top: -20px;
    }
    .bottom-illust-area {
        grid-template-columns: 45vw 1fr;
    }
    .case-cade {
        gap: 24px;
    }
    .case-cade-wrap-bottom > .case-cade > figure {
        width: 100%;
        min-width: 240px;
        max-width: 240px;
        border: solid 1px var(--gray-type2);
        padding: 10px;
    }
    .case-cade > .case-cade > div {
        width: calc(100% - 240px);
    }
    
}

/* レスポンシブ 
-------------------------------------------------- */
/* メディアクエリ
-------------------------------------------------- */
@media (max-width: 767px) {
    /* contact */
    .contact-link-wrap {
        right: 3%;
        bottom: 2%;
    }
    .contact-link {
        width: 90px;
        height: 90px;
        font-size: .75rem;
    }
    .contact-link::after {
        width: 10px;
        height: calc(tan(60deg)* 7px / 2);
        bottom: 10px;
    }
    .contact-link:hover,
    .contact-link:hover::after {
        pointer-events: none;
    }
    .contact-link:hover::after {
        width: 10px;
        height: calc(tan(60deg)* 7px / 2);
        bottom: 10px;
    }
    /* br */
    .sp-none {
        display: none;
    }
    .br-sp {
        display: block;
    }
    .tb-only {
        display: none;
    }
    .sp-only {
        display: block;
    }
    /* align */
    .sp-align-c {
        text-align: center;
    }
    .sp-align-r {
        text-align: right;
    }
    .sp-align-l {
        text-align: left;
    }
    /* col */
    .sp-col-1 {
        grid-template-columns: repeat(1, 1fr);
    }
    .sp-col-2 {
        grid-template-columns: repeat(2, 1fr);
    }
    /* BG */
    .bg-light-wrap::before {
        top: -180px;
        width: 260px;
    }
    .bg-light-wrap::after {
        bottom: -106px;
        width: 220px;
    }
    .bg-gradation-type2 {
        padding: 80px 0 200px;
    }
    .bg-light-wrap > .container-5 {
        margin-top: -40px;
    }
    .article-inner > .bg-light-wrap::after {
        bottom: -128px;
    }
    /* common */
    .article-inner > div > section {
        padding: 0 16px;
    }
    .basic-title {
        font-size: 1.5rem;
    }
    .large-title {
        font-size: 2rem;
    }
    .line-title,
    .accessibility-title {
        font-size: 1.25rem;
    }
    .accessibility-lp p {
        font-size: .85rem;
    }
    /* MV */
    .top-illust > li > figure {
        display: flex;
        align-items: center;
        gap: 16px;
    }
    .top-illust > li {
        justify-content: flex-start;
    }
    .top-illust > li > figure > img {
        width: 140px;
    }
    .top-illust > li > figure > figcaption {
        text-align: left;
    }
    .merit-area {
        padding: 30px 20px;
    }
    .merit-area::before {
        width: calc(100% - 20px);
        height: calc(100% - 20px);
    }
    .bottom-illust-area {
        grid-template-columns: 1fr;
    }
    .top-illust > li > figure > figcaption {
        font-size: .85rem;
    }
    /* 主な4例 */
    .example-list-item > figure > img {
        max-width: 320px;
    }
    .accessibility-list {
        display: block;
        margin-top: 40px;
    }
    .accessibility-list > dt {
        width: 100%;
    }
    .accessibility-list > dd {
        width: 100%;
        padding: 10px 0 0;
        font-size: .85rem;
    }
    .accessibility-list > dt:not(:first-of-type) {
        margin-top: 30px;
    }
    .accessibility-list > dd:not(:first-of-type) {
        margin-top: 0;
    }
    /* アクセシビリティ対応のメリット */
    .merit-area-text {
        padding: 0 16px;
    }
    .img-merit-wrap-bottom {
        padding: 16px;
    }
    /* VOWZの強み */
    .strengths-area > .basic-title > img {
        width: 72px;
    }
    .strengths-card {
        align-items: flex-start;
    }
    .strengths-card-title {
        text-align: left;
    }
    .bottom-illust-area {
        gap: 16px;
    }
    .bottom-illust-1 {
        grid-area: 2 / 2;
    }
    .bottom-illust-2 {
        margin:0 auto;
        width: 80%;
        grid-area: 1 / 2;
    }
    .bg-vowz-mark::before {
        display: none;
    }
    .dot-list > li {
        font-size: .85rem;
    }
    /* UI/アクセシビリティ改善の事例 */
    .container-5 > h2.large-title {
        margin-top: 0px;
    }
    .article-inner > .bg-light-wrap::before {
        top: -240px;
    }
    .case-cade-wrap {
        padding-top: 40px;
        gap: 40px;
    }
    .case-cade .ctegory > span {
        font-size: .65rem;
        padding: 3px 12px;
    }
    .case-cade-wrap-bottom {
        padding-top: 60px;
        gap: 24px;
    }
    .case-cade-wrap-bottom > .case-cade > figure {
        height: 180px;
        min-width: 180px;
        max-width: 180px;
    }
    .case-cade > .case-cade > div {
        width: calc(100% - 180px);
    }
    .case-cade > figure:has(.img-cover) > img {
        object-fit: contain;
    }
    /* プロジェクトの進行の流れ */
    .wark-flow-title {
        font-size: 1.25rem;
        padding: 12px;
    }
    .wark-flow-lead {
        font-size: 1rem!important;
    }
    .wark-flow {
        display: block;
    }
    .wark-flow::before {
        left: calc(9vw + 24px);
    }
    .wark-flow > Li {
        width: 60%;
        margin-left: auto;
        margin-right: 2%;
    }
    .wark-flow > Li + li {
        margin-top: 40px;
    }
    .wark-flow > Li:nth-child(even) {
        margin-top: 40px;
    }
    .flow-category {
        left: -32vw;
        top: 42px;
    }
    .wark-flow > Li:nth-child(even) > .flow-category {
        right: auto;
        left: -32vw;
        top: 42px;
    }
    .wark-flow-card > .wark-flow-img {
        padding: 24px;
    }
    .wark-flow-card > .wark-flow-img > span {
        width: 48px;
        top: -18px;
        right: -12px;
    }
    .flow-category {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: .75rem;
        width: 110px;
        padding: 8px;
        height: 110px;
        border-radius: 50%;
    }
    .flow-category-last {
        font-size: 1.25rem;
        bottom: -16px;
        left: -29.5vw;
    }
}
/* SP min */
@media (max-width: 480px) {
    .sp-mt-40 {
        margin-top: 40px!important;
    }
    .sp-mt-60 {
        margin-top: 60px!important;
    }
    .bg-gradation, .bg-merit, .bg-accessibility, .bg-wark-flow {
        padding: 40px 0;
    }
    .bg-gradation-type2 {
        padding-top: 40px;
    }
    .basic-title {
        font-size: 1.25rem;
    }
    .mv-wrap {
        padding: 0 16px;
    }
    .container-1 .mv-illust {
        right: -6px;
    }
    .top-illust > li > figure > img {
        width: 100px;
    }
    .top-illust > li::before {
        width:20px;
        height: 20px;
        top: -4px;
    }
    .brackets {
        padding: 8px;
        margin-top: 24px;
    }
    .brackets > h2 {
        font-size: 1.4rem;
    }
    .explanation-box {
        padding: 24px 16px 20px;
    }
    .explanation-box > h3 {
        font-size: 4.5vw;
        padding: 0 8px;
        top: -15px;
        left: 6px;
    }
    .example-list-item > div > h3 {
        font-size: 1rem;
    }
    .example-list-item > div > p {
        margin-top: 8px;
    }
    .example-list-item > figure > img {
        max-width: 240px;
    }
    .accordion {
        margin-top: 24px;
    }
    .accordion-title {
        font-size: 1rem;
    }
    .accordion-icon {
        height: 14px;
        width: 14px;
    }
    .merit-area .basic-title {
        font-size: 1rem;
    }
    .merit-area-text {
        padding: 0 8px;
    }
    .bg-light-wrap > .container-5 {
        margin-top: -60px;
    }
    .strengths-area > .basic-title > img {
        width: 60px;
    }
    .case-cade-wrap-bottom {
        padding-top: 40px;
    }
    .case-cade > div {
        gap: 8px;
    }
    .case-cade > figure {
        height: auto;
    }
    .case-cade-wrap-bottom .case-cade {
        flex-direction: column!important;
    }
    .case-cade-wrap-bottom > .case-cade > figure {
        min-width: 100%;
        max-width: 100%;
    }
    .bottom-illust-area {
        margin-top: 60px;
    }
    .wark-flow::before {
        left: 15vw;

    }
    .flow-category {
        left: -35vw;
    }
    .wark-flow > Li:nth-child(even) > .flow-category {
        left: -35vw;
    }
    .flow-category-last {
        left: -30vw;
    }
}

/* レスポンシブ 
-------------------------------------------------- */
/* コンテナクエリ
-------------------------------------------------- */
.container-1,
.container-2,
.container-3,
.container-4,
.container-5 {
  container-type: inline-size;
}

@media (max-width: 1024px) {
  .scroll-illust-2::before {
    top: -520px;
    left: -8vw;
  }
}

@container (max-width: 899px) {
  .container-1 .mv-top {
    grid-template-columns: minmax(65vw, 1fr) minmax(100px, 190px);
    height: 80vw;
  }
  .container-1 .mv-illust {
    max-width: 50vw;
    z-index: -1;
    bottom: -20px;
    right: -20px;
  }
  .container-1 .mv-copy {
    max-width: 66vw;
  }
  .container-1 .mv-copy > hgroup > p span {
    font-size: 2.5vw;
  }
  .container-1 .sub-copy {
    width: 40vw;
    margin-top: 32px;
  }
  .container-1 .scroll-illust-1::before {
    top: -33vw;
    left: -10vw;
    width: 7vw;
  }
  .container-1 .scroll-illust-2::before {
    top: -560px;
    left: -5vw;
    width: 14vw;
  }
  .container-1 .scroll-illust-2::after {
    top: -500px;
    left: -100px;
    width: 33vw;
  }
  .container-1 .scroll-illust-3::before {
    background-size: 100px;
    bottom: -150px;
    right: -45px;
    width: 100px;
  }
}
@container (max-width: 600px) {
  .container-1 .mv-top {
    position: relative;
    grid-template-columns: 1fr;
    margin-top: 24px;
    height: 85vw;
  }
  .container-1 .mv-top::before {
    content: "";
    position: absolute;
    width: 30vw;
    height: 100%;
    background: url(/accessibility/img/icon_03.png) no-repeat 50%/contain;
    top: -35vw;
    right: -20vw;
    opacity: 0.9;
  }
  .container-1 .mv-copy {
    max-width: 72vw;
  }
  .container-1 .mv-copy > hgroup > p span {
    font-size: 3vw;
    padding: 4px 16px;
  }
  .container-1 .mv-illust {
    max-width: 45vw;
    bottom: 80px;
    right: -6px;
  }
  .container-1 .mv-tag {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .container-1 .mv-tag > ul {
    margin-top: 0;
  }
  .container-1 .mv-tag > img {
    width: 100px;
  }
  .container-1 .scroll-illust-1::before {
    top: -66vw;
    left: auto;
    right: 10vw;
    width: 11vw;
  }
  .container-1 .scroll-illust-2::after {
    display: none;
  }
  .container-1 .scroll-illust-2::before {
    display: none;
  }
  .container-1 .top-illust::before {
    display: none;
  }
}
@container (max-width: 400px) {
  .container-1 .mv-top {
    height: 92vw;
  }
  .container-1 .mv-top::before {
    top: -40vw;
    right: -14vw;
  }
  .container-1 .scroll-illust-1::before {
    top: -68vw;
    right: 14vw;
  }
  .container-1 .top-illust::before {
    top: -180px;
    left: -20px;
    width: 14vw;
  }
  .container-1 .scroll-illust-3::before {
    background-size: 70px;
    bottom: -170px;
    right: -24px;
    width: 70px;
  }
}

@container (max-width: 687px) {
  .container-2 .example-list-item {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

@container (max-width: 839px) {
  .container-3 .img-merit-wrap > figure > img {
    width: 26vw;
  }
  .container-3 .merit-illust-01 {
    top: 3vw;
  }
  .container-3 .merit-illust-02 {
    left: 20vw;
  }
  .container-3 .merit-illust-03 {
    left: auto;
    right: -60px;
  }
}
@container (max-width: 687px) {
  .container-3 .img-merit-wrap > figure > img {
    width: 30vw;
  }
}

@container (max-width: 839px) {
  .container-5 .case-cade {
    grid-template-columns: 1fr;
  }
}
@container (max-width: 800px) {
  .container-5 .case-cade-wrap-bottom {
    grid-template-columns: 1fr;
  }
  .container-5 .case-cade-wrap-bottom .case-cade {
    display: flex;
    flex-direction: row;
  }
}
